.expense-container {
  background-color: #f8deb8;
}

.expenseAdd-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.expense-container > h1 {
  color: #999999;
  padding-top: 4rem;
  font-size: 5.5rem;
  padding-bottom: 1rem;
}

h2 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.next-button {
  display: flex;
  justify-content: center;
}
