.income-container {
  background-color: #00f7ff;
}

.incomeAdd-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.income-container > h1 {
  color: #ececec;
  padding-top: 4rem;
  font-size: 5.5rem;
  padding-bottom: 1rem;
}

h2 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
