.border {
  border-radius: 2rem;
  padding: 1rem;
}
.expense-form {
  color: #999999;
  overflow: hidden;
  display: grid;
  text-align: center;
  grid-template-columns: 200px;
  grid-gap: 12px;
  justify-content: center;
}
